.nav-shadow
{
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.facebook-search
{
  background-color: #f0f2f5 !important;
  border-color: #f0f2f5 !important;
  border-radius: 30px !important;
}
.nav-facebook
{
  height: 58px !important;
}